/* Div que alinea horizontalmente las imagenes del menu */
.flex{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
/* Boton/Imagen */
.dropbtn {
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    width: 150px;
    border-radius: 50%; 
  }
  
  /* Contenedor que tiene a la img y a los links */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    
  }
  
  /* Contenido del menu, por default esta oculto */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:   #1067b9   ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    animation: fadeIn .4s;
    
  }
  
  /* Links del menu*/
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
  }
  
  /* Acciones a ejecutar cuando el mouse pase sobre los links */
  .dropdown-content a:hover {
    background-color: #0c4a84;
    border-radius: 5px;
    
}
  
  /* Se muestra el contenedor del menu oculto */
  .dropdown:hover .dropdown-content {
    display: block;

}
  
  .dropdown:hover .dropbtn { 
    cursor: pointer;
}

/* Animacion */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }